body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #06256d, #9da1a9);
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 60px 20px;
}

.Er1 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    object-fit: cover;
}

h1 {
    font-size: 42px;
    margin: 15px 0 5px;
}

/* E */

.E {
    max-width: 900px;
    margin: 30px auto;
    background: rgba(255,255,255,0.08);
    padding: 30px;
    border-radius: 18px;
    transition: 0.4s;
}

.E:hover {
    transform: scale(1.02);
    background: rgba(255,255,255,0.12);
}

h2 {
    color: #38bdf8;
}

ul {
    padding-left: 20px;
}

/* E2 */

.E2 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.E2 img {
    width: 100%;
    max-width: 250px;
    border-radius: 15px;
    border: 2px solid #38bdf8;
}

/* monopoly */

.monopoly {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 15px auto;
    border-radius: 20px;
    border: 3px solid #22c55e;
}

/* footer */
footer {
    text-align: center;
    padding: 25px;
    opacity: 0.7;
}